<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/error/error-layout" lang="en">

<th:block layout:fragment="page-title">
    <title>404 Page Not Found</title>
</th:block>

<th:block layout:fragment="page-content">
    <div class="error-page">
        <h2 class="headline text-warning">404</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i>Page Not Found</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="/home">return to home page</a> or try using the search form.
            </p>
        </div>
    </div>
</th:block>

</html>