<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="delete-confirm">
    <div class="modal fade" id="delete-confirm-modal" data-backdrop="false" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert-danger">
                    <h5 class="modal-title" th:text="#{title.header.deleteConfirmation}"></h5>
                    <button type="button" class="close text-white" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <p class="font-weight-bold text-justify" th:text="#{massage.confirmation.delete}"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm-delete" type="button" class="btn btn-danger"
                            th:text="#{button.agree}"></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{button.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>